/* html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
} */

@font-face {
  font-family: 'VTEXRegular';
  src: local('VTEXRegular'), url(../fonts/VTEXTrust-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'VTEXBold';
  src: local('VTEXBold'), url(../fonts/VTEXTrust-Bold.ttf) format('truetype');
}

body {
  font-family: 'VTEXRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.job-search-main {
  max-width: 100vw;
  overflow-x: hidden;
}

.header {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.nav-medium {
  margin: 0 26px 0 0;
  padding: 0;
  width: 25px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-medium span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #F71963;
  border-radius: 8px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-medium span:nth-child(1) {
  top: 0px;
}

.nav-medium span:nth-child(2),.nav-medium span:nth-child(3) {
  top: 8px;
}

.nav-medium span:nth-child(4) {
  top: 16px;
}

.nav-medium.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.nav-medium.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-medium.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-medium.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.filters-list-container {
  margin-top: 10px;
  padding: 0 16px;
  max-width: 980px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px auto 0;
}

#search-button {
  display: block;
  width: 100%;
  background: #f71963;
  border: solid 1px #f71963;
  text-transform: uppercase;
  min-height: 52px;
  margin-bottom: 16px;
  color: #fff;
  font-size: 14px;
  border-radius: 6px;
}

#filtering-options-button {
  display: block;
  width: 100%;
  background: #fff;
  border: solid 1px #ccced8;
  min-height: 52px;
  text-align: left;
  padding: 0 24px;
  color: #4a596b;
  position: relative;
  border-radius: 6px;
}

#filtering-options-button:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  background-image: url(https://careers.vtex.com/wp-content/uploads/2021/04/icon-filter.svg);
  transform: translateY(-50%);
}

#filtering-options-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: #fff;
  padding: 80px 14px 0;
  overflow-y: auto;
  display: none;
}

#filtering-options-modal.show {
  display: block;  
}

#filtering-options-modal .modal-content {
  padding: 0 24px;
  border: solid 1px #ccced8;
  border-radius: 6px;
  margin-bottom: 16px;
}

#filtering-options-modal .modal-title {
  font-size: 28px;
  line-height: 38px;
  color: #4a596b;
  margin-bottom: 16px;
  border-bottom: solid 1px #ccced8;
  text-align: left;
  padding: 16px 0
}

.search-job-filters:last-child {
  margin-bottom: 16px;
}
.search-job-filters:last-child .show-filters-list {
  padding-bottom: 0;
}

.search-job-filters .category-button {
  font-size: 16px;
  line-height: 28px;
  color: #a1a8b3;
  display: block;
  width: 100%;
  padding: 0 0 0 18px;
  position: relative;
  border: none;
  text-align: left;
  background: #fff;
  transition: opacity 300ms;
}

.search-job-filters .category-button.no-item {
  opacity: 0.3;
}

.search-job-filters .category-button.subcategory-button {
  margin-left: 18px;
}

.search-job-filters .category-button.subsubcategory-button {
  margin-left: 36px;
}

.search-job-filters .show-filters-list {
  font-size: 22px;
  line-height: 34px;
  color: #4a596b;
  padding: 16px 0;
  border: none;
  display: block;
  position: relative;
  width: 100%;
  text-align: left
}

.search-job-filters .show-filters-list:after {
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 50%;
  right: 4px;
  background-image: url(https://careers.vtex.com/wp-content/uploads/2021/04/down-arrow-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateY(-50%);
  transition: transform 200ms;
}

.search-job-filters.show .show-filters-list:after {
  transform: translateY(-50%) rotate(180deg); 
}

.search-job-filters .show-filters-list:hover {
  background: #fff;
  border: none;
}

.search-job-filters .show-filters-list:focus {
  background: #fff;
  outline: none;
  border: none;
}

.search-job-filters .filters-list-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 300ms, opacity 300ms;
}

.search-job-filters.show .filters-list-content {
  max-height: 99em;
  opacity: 1;
}

.search-job-filters .category-button:hover {
  background: #fff;
}

.search-job-filters .category-button:focus {
  background: #fff;
  outline: none;
}

.search-job-filters .category-button.selected {
  color: #4a596b;
}

.search-job-filters .category-button:after {
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #ccced8;
  background: #fff;
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 2px;
  transition: background 300ms;
}

.search-job-filters .category-button.selected:after {
  background: #ccced8
}

.disabled {
  opacity: 0.3;
}

#clear-all-filters-button {
  display: block;
  width: 100%;
  background: #fff3f6;
  border: solid 1px #ffe0ef;
  text-transform: uppercase;
  min-height: 52px;
  margin-bottom: 16px;
  color: #f71963;
}

#apply-filters-button {
  display: block;
  width: 100%;
  background: #f71963;
  border: solid 1px #f71963;
  text-transform: uppercase;
  min-height: 52px;
  margin-bottom: 16px;
  color: #fff;
}

#main-count-feedback {
  text-align: center;
  margin-top: 22px;
  font-size: 18px;
  line-height: 34px;
  color: #4A596B;
}

#main-count-feedback .all {
  color: #E42760;
}

.posting-card {
  transition: box-shadow 300ms;
}

.posting-card:hover > .posting-card-apply-now {
  color: #E42760;
}

.posting-card .posting-card-title {
  margin: 0 0 8px;
  line-height: 36px;
  font-size: 24px;
  color: #333;
}

.posting-card .posting-card-team,
.posting-card .posting-card-location {
  color: #a1a8b3;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.posting-card .posting-card-location {
  margin-bottom: 10px;
}

.posting-card .posting-card-apply-now {
  font-size: 14px;
  color: #717786;
  transition: color 300ms;
}

.showing-postings-count {
  text-align: center;
  margin: 52px 0 40px;
  color: #5B6E84;
}

.showing-postings-count span {
  color: #142032;
}

.load-more-btn {
  font-size: 14px;
  border-radius: 6px;
  width: fit-content;
  padding: 16px 24px;
  display: block;
  margin: 0 auto 140px
}



@media (min-width: 1025px) {
  #search-button {
    display: none;
  }

  #filtering-options-modal {
    position: relative;
    top: inherit;
    left: inherit;
    width: 100%;
    height: inherit;
    z-index: inherit;
    background: transparent;
    padding: 0;
    overflow-y: inherit;
    display: block;
  }
  
  #filtering-options-button {
    display: none;
  }
  
  #filtering-options-modal .modal-title {
    display: none;
  }

  #filtering-options-modal .modal-content {
    padding: 0;
    border: none;
    border-radius: inherit;
    margin-bottom: 0;
    display: flex;
  }
  
  .search-job-filters:last-child {
    margin-bottom: 0;
  }

  .search-job-filters {
    flex-basis: 33.33%;
    display: block;
    padding: 0;
  }
  
  .search-job-filters:first-child {
    margin-left: 0;
  }
  
  .search-job-filters .show-filters-list {
    padding: 16px 24px;
    display: block;
    border: solid 1px #ccced8;
    border-radius: 3px;
    width: 100%;
    margin: 0;  
    text-align: left;
    font-size: 18px;
    line-height: 1;
    height: 52px;
    background: #fff;
  }
  
  .search-job-filters .show-filters-list:hover,
  .search-job-filters .show-filters-list:active,
  .search-job-filters .show-filters-list:focus {
    border: solid 1px #ccced8;
  }
  
  .search-job-filters:last-child .show-filters-list {
    padding-bottom: 16px;
  }
  
  .search-job-filters:nth-child(2) {
    margin-right: 16px;
  }
  
  .search-job-filters:nth-child(3) {
    margin: 0 16px;
  }

  .search-job-filters:nth-child(4) {
    margin-left: 16px;
  }
  
  .search-job-filters .filters-list-content {
    position: absolute;
  }
  
  .search-job-filters:nth-child(2) .filters-list-content {
    width: calc(33.33% - 20px);
  }
  
  .search-job-filters:nth-child(3) .filters-list-content {
    width: calc(33.33% - 20px);
  }

  .search-job-filters:nth-child(4) .filters-list-content {
    width: calc(33.33% - 20px);
  }

  .search-job-filters .filters-list-content {
    background: #fff;
    z-index: 1;
    padding: 16px;
    border: solid 1px #ccced8;
    border-radius: 6px;
    margin-top: 16px;
    overflow-y: auto;
  }
  
  .search-job-filters.show .filters-list-content {
    max-height: 320px;
    background: #fff;
    z-index: 1;
    padding: 16px;
    border: solid 1px #ccced8;
    border-radius: 6px;
    margin-top: 16px;
    overflow-y: auto;
  }
  
  .search-job-filters.show .show-filters-list:after,
  .search-job-filters .show-filters-list:after {
    transform: translateY(-50%);
    right: 16px;
  }
  
  #clear-all-filters-button {
    display: none;
  }
  
  #apply-filters-button {
    display: none;
  }
}

.cover-container {
  padding: 100px 16px 42px;
}

.cover-title {
  font-size: 36px;
  margin-bottom: 42px;
}

#search-query {
  background: #fff;
  color: #142032;
  font-size: 18px;
  padding: 16px 56px 16px 24px;
  outline: none;
  text-align: left;
  font-weight: 400;
  line-height: 20px;
  display: block;
  border-radius: 6px;
  border: solid 1px #ccced8;
  width: 100%;
  position: relative;
  font-family: VTEXRegular, "VTEXTrust-New", sans-serif;
}

.search-query-wrapper:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 40px;
  background-image: url(https://careers.vtex.com/wp-content/uploads/2021/04/search-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateY(-50%);
  background-color: #fff;
}

.search-query-wrapper {
  position: relative;
}

.search-query-wrapper .search-query-placeholder {
  color: #5B6E84;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  position: absolute;
  font-family: VTEXRegular, "VTEXTrust-New", sans-serif;
  top: 0;
  left: 0;
  padding: 16px 56px 16px 24px;
  outline: none;
}

.search-query-wrapper .search-query-placeholder.hide {
  display: none;
}

.search-query-wrapper .search-query-placeholder span {
  color: #142032;    
}

@media (min-width: 414px) {
  .search-query-wrapper .search-query-placeholder {
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  .cover-title {
    display: none;
  }

  #search-query {
    font-size: 78px;
    line-height: 86px;
    background: transparent;
    padding: 0;
    border: none;
    text-align: center;
  }

  .search-query-wrapper {
    padding: 160px 0 94px;
  }
  
  .search-query-wrapper .search-query-placeholder {
    font-size: 78px;
    text-align: center;
    line-height: 86px;
    padding: 160px 16px 0;
  }
  
  .search-query-wrapper:after {
    display: none;
  }
}